{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br/>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>

    <script>
        fetch('http://127.0.0.1:8000/api/', {
            headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
          method: 'POST',
          body: JSON.stringify({id:1, msg: "hello"}),
        })
        .then(response => {
          const reader = response.body.getReader();
          const decoder = new TextDecoder();
        
          return new ReadableStream({
            start(controller) {
              function push() {
                reader.read().then(({ done, value }) => {
                  if (done) {
                    controller.close();
                    return;
                  }
              
                  controller.enqueue(decoder.decode(value));
                  push();
                });
              }
          
              push();
            }
          });
        })
        .then(stream => {
          const reader = stream.getReader();
        
          reader.read().then(function processText({ done, value }) {
            if (done) {
              return;
            }
        
            console.log(value);
            return reader.read().then(processText);
          });
        });
    </script>
</body>
</html>