<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br/>
    <input id="chat-message-input" type="text" size="100"/><br/>
    <input id="chat-message-submit" type="button" value="Send"/>
</body>
<script>
    
//     const socket = new WebSocket(
//         'ws://' + window.location.host + '/ws/chat/');

        
// socket.addEventListener('open', event => {

//     // Send a message to the server
//     const message = { text: 'Hello, server!' };
//     socket.send(JSON.stringify(message));
    
// });

// socket.onmessage = function(event) {
//   var data = JSON.parse(event.data);
//     console.log(data)
// }

const socket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/');

// When the WebSocket connection is established
socket.addEventListener('open', () => {
  console.log('WebSocket connection established');

  // Send a message to the server
  socket.send(JSON.stringify({ action: 'start_stream' }));
});

// When a message is received from the server
socket.addEventListener('message', event => {
  const message = JSON.parse(event.data);
  console.log('Received message:', message);

  // Do something with the received message
});

// When the WebSocket connection is closed
socket.addEventListener('close', () => {
  console.log('WebSocket connection closed');
});

// When there is an error with the WebSocket connection
socket.addEventListener('error', event => {
  console.error('WebSocket error:', event);
});
</script>
</html>